PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
mysql-connector-python==8.1.0
python-dotenv==1.0.0
bcrypt==4.0.1
matplotlib==3.7.2
pandas==2.0.3
pillow==10.0.0
pymysql==1.1.0
qrcode==7.4.2 