absl-py==1.4.0
aiohttp==3.8.4
aiohttp-retry==2.9.1
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.1
blinker==1.9.0
bs4==0.0.1
cachetools==5.3.0
certifi==2022.9.24
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.8
colorama==0.4.5
contourpy==1.3.1
cycler==0.12.1
defusedxml==0.7.1
distlib==0.3.6
dnspython==2.7.0
exceptiongroup==1.2.0
filelock==3.10.0
flatbuffers==23.3.3
fonttools==4.56.0
frozenlist==1.3.3
gast==0.4.0
greenlet==3.1.1
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
httplib2==0.22.0
idna==3.4
keras==2.11.0
kiwisolver==1.4.8
libclang==15.0.6.1
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.2
multidict==6.0.4
mysql-connector-python==8.1.0
numpy==1.23.3
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==21.3
pandas==2.0.3
Pillow==10.0.0
platformdirs==3.1.1
prettytable==3.4.1
protobuf==4.21.12
py-jama-rest-client==1.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.10.1
pymongo==4.11.1
PyMySQL==1.1.0
pyparsing==3.0.9
pypng==0.20220715.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2022.4
PyYAML==6.0
qrcode==7.4.2
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.9.1
sfv==2.0.1
six==1.16.0
sketchpy==0.0.23
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.38
ssg==2.0.0
svg.path==6.2
svgpathtools==1.5.1
svgwrite==1.4.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
tqdm==4.64.1
trio==0.24.0
trio-websocket==0.11.1
turtle==0.0.1
typing_extensions==4.9.0
tzdata==2025.1
urllib3==1.26.12
virtualenv==20.21.0
wcwidth==0.2.5
Werkzeug==3.1.3
wrapt==1.15.0
wsproto==1.2.0
yarl==1.8.2
